{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block hover_blog %}has-background-info-dark has-text-white{% endblock %}
{% block content %}
      <section class="hero is-medium is-link has-text-centered" style="background-image: url(static/img/blog.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;">
        <div class="hero-body">
          <p class="title is-size-1">
            My Blog
          </p>
          <p class="subtitle">
            Sharing My thought with you
          </p>
          {% if user.is_authenticated %}
            <a class="button is-primary" href="/add-blog">
              <span class="icon">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </span>
              <span>Add Blog</span>
            </a>
          {% endif %}

        </div>
      </section>


      <section class="container" style="padding: 10px;">
        <div class="columns features is-multiline">
          
          <!-- blog lists -->
          <br />
          {% for blog in blogs %}
          <div class="column is-6">
            <!-- Start Item: copy and paste the code below to add an item to the list  -->
            <div class="card">
              <div class="card-image" style="background-image: url({{ url_for('static', filename='img/'+blog.blog_cover ) }});background-position: center;background-size: cover;background-repeat: no-repeat;height: 200px;">
                <figure class="image">
                </figure>
              </div>
                <div class="card-content">
                        <!-- blog title -->
                      <p class="title is-6"><a href="/blog/{{ blog.id }}">{{ blog.blog_title}}</a></p>
                  <div class="content has-text-justified">
                    {{blog.blog_content  | safe |truncate(250)}}<a href="/blog/{{ blog.id }}">[Read More]</a>
                  </div>
                    </div>
                    <footer class="card-footer">
                      <div class="card-footer-item">
                        <figure class="image is-48x48">
                          <img class="is-rounded" src="static/img/tm-easy-profile.jpg">
                        </figure>
                        <span class="is-hidden-mobile">
                          &nbsp;&nbsp;<a href="/about">Bakar Haythar</a>
                        </span>
                      </div>
                      <div class="card-footer-item"> <p>{{blog.date.strftime("%d %b, %Y - %I %p")}}</p></div>
                      <div class="card-footer-item">
                        {% if user.is_authenticated %}
                          <p class="buttons">
                            <a class="button is-primary" href="/blog/edit/{{ blog.id }}">
                              <span class="icon is-small" >
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                              </span>
                            </a>
                            <a class="button is-danger" href="/blog/delete/{{ blog.id }}">
                              <span class="icon is-small">
                                <i class="fa fa-trash"></i>
                              </span>
                            </a>
                          </p>
                         {% endif %}
                    </div>
                  </footer>
              </div>
            </div>
                <!-- end Item -->
                {% else %}
                {% if user.is_authenticated %}
                <div class="notification is-info has-text-centered" style="margin:40px auto;">
                  You don't have any blogs yet, Would like to write something? - <a href="/add-blog">Add a Blog</a>
                </div>
                {% else %}
                  <div class="notification is-info has-text-centered" style="margin:40px auto;">
                    I don't have any blogs yet!
                  </div>
                  {% endif %}
                {% endfor %}
            </div>

      </section>


{% endblock %}