{% extends "base.html" %} 
{% block title %}Projects{% endblock %}
{% block hover_projects %}has-background-info-dark has-text-white{% endblock %}

{% block content %}
<section class="hero is-medium is-link has-text-centered" style="background-image: url(/static/img/cover.jpeg);background-position: center;background-size: cover;background-repeat: no-repeat;">
  <div class="hero-body">
    <p class="title is-size-2" >
      My Projects
    </p>
    <p class="subtitle">
      What I'm working on
    </p>
    {% if user.is_authenticated %}
      <a class="button is-primary" href="/add-project">
        <span class="icon">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </span>
        <span>Add Project</span>
      </a>
    {% endif %}

  </div>
</section>
<section class="container">
  <!-- Projects lists here -->
      <div class="columns features is-multiline">
        
        {% for project in projects %}
        <!-- Start Item: copy and paste the code below to add an item to the list  -->
        <div class="column is-4">
         <div class="card is-shady">
           <div class="card-image">
             <figure class="image">
               <img src="{{ url_for('static', filename='img/'+project.project_img ) }}" alt="Placeholder image" class="modal-button" data-target="modal-image2">
             </figure>
           </div>
           <div class="card-content">
             <div class="content">
                 <!-- project title -->
               <h3><a href="/project/{{project.id}}">{{project.project_title}}</a></h3>
                 <!-- project status: -->
               <p>
                  <div class="control">
                    <div class="tags has-addons">
                      <span class="tag is-dark">Status:</span>
                      <span class="tag has-background-link-light">{{project.project_status}}</span>
                    </div>
                  </div>
                </p>
               <!-- project description -->
               <p>
                {{project.project_description}}
                 </p>
               <p class="buttons">
                   <a class="button is-primary" href="/project/{{project.id}}">
                       <span class="icon">
                         <i class="fa fa-info-circle"></i>
                         </span>
                         <span>More info</span>
                     </a>
                     <a class="button" href="{{project.project_github}}">
                       <span class="icon">
                         <i class="fa fa-github"></i>
                       </span>
                       <span>GitHub</span>
                     </a>
                 </p>
             </div>
           </div>
           {% if user.is_authenticated %}
             <footer class="card-footer">
               <div class="card-footer-item"></div>
               <div class="card-footer-item">
                 <p class="buttons">
                   <a class="button is-primary" href="/project/edit/{{project.id}}">
                     <span class="icon is-small" >
                       <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                     </span>
                   </a>
                   <a class="button is-danger" href="/project/delete/{{project.id}}">
                     <span class="icon is-small">
                       <i class="fa fa-trash"></i>
                     </span>
                   </a>
                 </p>
               </div>
             </footer>
           {% endif %}
         </div>
       </div>
       {% else %}
       <!-- End item -->
       {% if user.is_authenticated %}
       <div class="notification is-info has-text-centered" style="margin:40px auto;">
        You don't have any Projects yet, Have you finished any projects lately? - <a href="/add-project">Add a Project</a>
      </div>
      {% else %}
      <div class="notification is-info has-text-centered" style="margin:40px auto;">
        I don't have any Projects yet!, Do you need any help? - <a href="/contact">Hire Me</a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
        
</section>
{% endblock %}
          