{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block hover_about %}has-background-info-dark has-text-white{% endblock %}
{% block content %}
<section class="hero is-link" 
  style="background-image: url(static/img/aboutme.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;">
  <div class="hero-body">
    <div class="card column is-5 has-text-centered" style="background-color: transparent;">
      <div class="card-content">
        <figure class="image is-128x128" style="margin:auto">
          <img class="is-rounded" src="static/img/tm-easy-profile.jpg">
        </figure>

        <div class="content ">
          <h1 style="color: aliceblue;">
            I'm Bakar Haythar
          </h1>

          <p><b style="color: aliceblue;">Cloud Computer/Engineer</b></p>


          <div class="icon-text" style="color: rgb(103, 166, 221);">
            <span class="icon">
              <a href="https://www.linkedin.com/in/bakar-haythar-a86737215/" target="_blank"
                class="fa fa-linkedin fa-2x"></a>
            </span>
            <span class="icon">
              <a href="https://www.youtube.com/channel/UCV0IjvQoZ9JnuMwSqykIBMw/featured" target="_blank"
                class="fa fa-youtube fa-2x"></a>
            </span>
            <span class="icon">
              <a href="https://github.com/cloudBakarr" class="fa fa-github fa-2x"></a>
            </span>
            <span class="icon">
              <a href="https://www.qwiklabs.com/public_profiles/41477d18-d797-4d57-85da-fbada196ef4a"
                class="fa fa-google fa-2x"></a>
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">

  <div class="columns  is-centered">
    <div class="column is-three-fifths">
      <div classs="card is-shady" style="background-color: #07161f;">
        <div class="card-content">
          <div class="content has-text-justified">
            <h3 style="color: aliceblue;">ABOUT ME</h3>
            <p class="feature-heading" style="font-size: 18px;">
              I am a 21-year-old Kenyan-born tech geek 😁. I've always had a desire to code, work on computers, and get
              hands-on with technology, all while getting paid from home!
              My first taste of this field was when I programmed a robot to breakdance during my Central High School
              years. My love and passion for this field is why I am a Cloud Engineer today.
              I am enthusiastic with experience in multiple cloud platforms and services looking to further my education
              and experience.
              Besides tech one of my long-term goals is to go out of the country and finish memorizing the Holy Quran. I
              love learning about Islam and want
              to further my education so I can benefit in this life and the hereafter.
              I also want to start a non-profit that reaches out to people all over the world, specifically women and
              children suffering in 3rd
              world countries. I know I can reach new heights and accomplish everything I set my focus on with patience
              and faith.
              I want to live a life that the creator can be pleased with and be among the
              winners in the hereafter!

            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class;="card is-shady" style="width: 100%;">
        <div class="card-content">
          <div class="content">
            <h3 style="color: aliceblue;">Cloud Platforms</h3>
            <p>
              <span class="is-size-6">
                Google Cloud Platforms
              </span>
              <progress class="progress is-link is-small" value="100" max="100">70%</progress>
            </p>
            <p>
              <span class="is-size-6">
                Amazon Web Service
              </span>
              <progress class="progress is-link is-small" value="80" max="100">80%</progress>
            </p>
            <p>
              <span class="is-size-6">
                Microsoft Azure
              </span>
              <progress class="progress is-link is-small" value="60" max="100">60%</progress>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="columns  is-centered">
    <div class="column is-three-fifths">
      <div classs="card is-shady" style="background-color: #041118;">
        <div class="card-content">
          <div class="content has-text-justified">
            <h3 style="color: aliceblue;">Interests</h3>
            <p><span class="is-size-6"><b>Soccer/Chess</b></span></p>
            <p style="color: rgb(224, 224, 224);">
              My absolute favorite hobby is playing soccer! It is no doubt a beautiful game. I enjoy it because of how
              diverse and interesting the players can be; there could be players with a lot of flair, players who can
              outrun anyone on the field, players with incredible vision and game IQ, and so on and so forth.
              There is
              never a dull moment because the player next to you could amaze and outperform in his own way.
            </p>

            <p style="color: azure;">
              In a way, soccer is like my favorite board game. Chess is that game that can make your mind sharp and
              can improve your thinking abilities.
              Chess and Soccer are very similar games. Some strategies can easily be put into practice with the
              others. They are unpredictable and complex games. Thats why
              i enjoy playing both, they both envolve usuing your brain and finding the best pass/move in any
              situation.</p>
            <p><span class="is-size-6"><b>Parks And Recreational Volenteer Work</b></span></p>
            <p style="color: rgb(224, 224, 224);">
              In particular, I am enthusiastic about volunteering towards restoring local parks and monitoring wildlife.
              Volunteering provides a number of benefits, ranging from meeting new people to learning new skills,
              providing a number of unique opportunities.
              In Louisville, I've been a part of parks and recreation programs that have cleaned up and restored parks,
              planted trees in fields, and many other events similar to those. I love taking a step away from my
              computer and getting out into the open air once in a while
              and help my community the best i can.
              <b class="paragraph testimonial-text">
                "At a first glance, nature seems to follow simple laws that determine how every process in nature
                occurs.
                This is only an illusion. Nature is not only complex but also intriguingly original in every one of its
                works. For us, nature is the possibility of marvelous explorations." -Aristotle</b>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div classs="card is-shady" style="width: 100%;">
      <div class="card-content">
        <div class="content">

          <p>




          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="site-wrapper">
    <div class="section-heading-container">
    </div>
    <div class="work-grid">
      <div class="work-block"><img src="/static/img/deen.jpg"  alt="" class="work-image">
        <div class="feature-heading">Kentucky All Star Soccer Team</div>
        <p class="paragraph">This is when our team made it to the finals at a tournament in Indianna!</p>
      </div>
      <div class="work-block"><img src="/static/img/chess.jpg" loading="lazy" alt="" class="work-image">
        <div class="feature-heading">Chess
        </div>
        <p class="paragraph">The best board game ever created! No debate.
      </p>
      </div>
      <div class="work-block"><img src="/static/img/Volunteers.jpg" loading="lazy" alt="" class="work-image">
        <div class="feature-heading">The Louisville Parks Volunteer Program</div>
        <p class="paragraph">We planted trees, bushes and wildflowers to continue the 
          growth cycle and help save the bees and butterflies!
        </p>
      </div>
    </div>
  </div>
  </div>


  </div>


  <div class="column">
    <div style="width: 100%;" style="background-color: #041118;">
      <div class="card-content">
        <div class="content">
          <div class="contact">
            <h3 style="color: aliceblue;">CONTACT</h3>
            <p class="feature-heading" style="font-size: 18px;" style="color: rgb(245, 239, 239);">
              <p><i class="fa fa-map-marker"></i> Louisville, Kentucky</p>
              <p><i class="fa fa-phone"></i> 502-665-1911</p>
              <p><i class="fa fa-envelope"></i> Bhaythar@gmail.com</p>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock %}