{% extends "base.html" %} {% block title %}freelance Job{% endblock %}
{% block hover_freelance %}has-background-info-dark has-text-white{% endblock %}
{% block content %}
<section class="hero is-medium is-link has-text-centered" style="background-image: url(/static/img/cover.jpeg);background-position: center;background-size: cover;background-repeat: no-repeat;">
  <div class="hero-body">
    <p class="title is-size-2" >
      Testimonials
    </p>
    <p class="subtitle">
      What my client are saying about me
    </p>
    {% if user.is_authenticated %}
      <a class="button is-primary" href="/add-testimonial">
        <span class="icon">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </span>
        <span>Add Testimonial</span>
      </a>
    {% endif %}

  </div>
</section>
<section class="container">
  <!-- jobs lists here -->
      <div class="columns features is-multiline">
        
        {% for testimonial in testimonials %}
        <!-- Start Item: copy and paste the code below to add an item to the list  -->
        <div class="column is-6">
          <div class="review-item">
            <div class="item">
                <p>
                  {{testimonial.testimonial_content}}
                </p>
                <div class="user">
                  <div class="info">
                    <h3>{{testimonial.client_name}}</h3>
                    </div>
                    <i class="fa fa-quote-left"></i>
                </div>
                {% if user.is_authenticated %}
                          <p class="buttons">
                            <a class="button is-primary" href="/testimonials/edit/{{ testimonial.id }}">
                              <span class="icon is-small" >
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                              </span>
                            </a>
                            <a class="button is-danger" href="/testimonials/delete/{{ testimonial.id }}">
                              <span class="icon is-small">
                                <i class="fa fa-trash"></i>
                              </span>
                            </a>
                          </p>
                {% endif %}
            </div>              
      </div>   
       </div>
     
       {% else %}
       <!-- End item -->
       {% if user.is_authenticated %}
       <div class="notification is-info has-text-centered" style="margin:40px auto;">
        You don't have any reviws yet, Have you helped any Clients lately? - <a href="/add-job">Add a job</a>
      </div>
      {% else %}
      <div class="notification is-info has-text-centered" style="margin:40px auto;">
        I don't have any reviws yet! - <a href="/contact">Hire Me</a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
        
</section>
{% endblock %}


